# Ignore Gradle project-specific cache directory
.gradle
.vscode

# Ignore Gradle build output directory
build


package-lock.json
package.json
node_modules
run-tests.sh
run-tests.bat
test-reports
temp_classpath.txt
logs/*
test-data

src/test/*
